
@{
    ViewData["Title"] = "Student Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark b" style="background-color: #e3f2fd;">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="Student" asp-action="MyInformation"><i class="fa-solid fa-address-card"></i> My Information </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="Lesson" asp-action="MyLessons"><i class="fa-solid fa-address-card"></i> My Courses </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="Lesson" asp-action="AllLessons"><i class="fa-solid fa-address-card"></i> All Courses </a>
            </li>
        </ul>
    </div>
</nav>


